<div class="container">
    <div clas="card">
      <div clas="card-header">
        <button class="btn btn-primary">New Card</button>
      </div>
      <div clas="card-body">
        <table class="table table-responsive table-striped">
          <thead>
              <tr>
                <th>#</th>
                <th>Bank</th>
                <th>Card No</th>
                <th>Issuer</th>
                <th>Expiry Date</th>
                <th>Name On Card</th>
                <th>Address</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>1</td>
                <td>Equity Bank Kenya</td>
                <td>1232112233221123</td>
                <td>VISA</td>
                <td>1/1/2020</td>
                <td>00200 Nairobi</td>
                <td><a href="">Options</a></td>
                <td><a  routerLink="/payment" routerLinkActive="active">transfer</a></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>