<div class="container">
    <div clas="panel panel-primary">
      <div clas="panel-heading">
        Payments
        <button class="btn btn-info" routerLink='/newPayment' routerLinkActive="active">New Payment</button>
      </div>
      <div clas="panel-body">
        <table class="table table-responsive table-striped">
          <thead>
              <tr>
                <th>#</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Charge</th>
                <th>Time</th>
                <th>Status</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td>1</td>
                <td>Jane Doe</td>
                <td>23000</td>
                <td>VISA</td>
                <td>1/1/2020 9:00PM</td>
                <td>Complete</td>
                <td><a href="">Options</a></td>               
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
